body {
  background-color: #F7D08A;
  color: #0892A5;
  margin: 0;
  padding: 0;
  font-family: "Dosis", sans-serif;
}

.header {
  padding: 20px 100px;
}

.content {
  background-color: #0892A5;
  color: #ffffff;
}

.contentBlock {
    clear:both;
    padding: 60px 100px;
}


/*Content Block background colors*/
.contentBlock:nth-child(2){
  background-color: #1E9BAD;
}

.contentBlock:nth-child(3){
  background-color: #34A5B5;
}

.contentBlock:nth-child(4){
  background-color: #4BAFBD;
}

.contentBlock:nth-child(5){
  background-color: #61B9C5;
}

div {
  display: block;
}

h1 {
  font-family: Sacramento, cursive;
}

p {
  margin: 0 15px;
}

/* style the navigation bar */
#navbar {
  display: inline-block;
  margin: 0;
  padding-left: 10px;
}
#navbar li {
  list-style: none;
  display: inline-block;
  padding: 5px 50px;
}

#navbar li:first-of-type {
  border-right: 2px solid #0892a5;
}

.projectBox{
  border: 1px dotted #fff;
  padding: 10px;
  margin: 20px;
  width: 200px;
  display: inline-block;
}

.questions{
  opacity: .3;
}

.skillBox{
  background-color: #ffffff;
  color: #0892a5;
  border: 1px solid #ffffff;
  width: 200px;
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 20px;
}


.summaryBlock{
  display:inline-block;
  width: 400px;
}
.thumbnail {
  width: 200px;
  padding: 20px 100px 20px 0px;
  float: left;
}
